<a href="https://colab.research.google.com/github/tomarrambali/FDS-Labfile/blob/main/index_label.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
mydataset = {
    'car':["BMW","Volvo","Ford"],
    'passings':[3,7,2]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

     car  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86],'Y':[84,94,89,83,86],'Z':[86,97,96,73,83]});
print (df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  73
4  86  86  83

In [4]:
import pandas as pd
import numpy as np
exam_data = {
             'name':['Anastasia','Dima','Katherine','James','EMily','Michael','Mathew','Laura','Kevin','Jonas'],
             'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
             'attempts':[1,3,2,3,2,3,1,1,2,1],
             'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']
             }
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      EMily    9.0         2      no
f    Michael   20.0         3     yes
g     Mathew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes